# Copy this to .env and fill in your values
GCP_PROJECT_ID=jyothiapikey1
GOOGLE_APPLICATION_CREDENTIALS=./service-account-key.json
MCP_TOOLBOX_URL=http://127.0.0.1:5000/sse
VITE_API_URL=http://localhost:8000
GOOGLE_API_KEY=AIzaSyCS0_M8NL8gRMT0JcVeeuXOkmk8Nen-Lk4
